.buttonsContainer {
  display: flex;
  flex-direction: column;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  color: var(--bb-palette-white);

  border: none;

  background-color: var(--bb-palette-text200);

  transition: 250ms ease;

  cursor: pointer;
}

@media only screen and (min-width: 320px) {
  .button {
    width: 300px;
    height: 150px;

    font-size: 26px;
    line-height: 32px;
  }
}

@media only screen and (min-width: 480px) {
  .button {
    width: 400px;
    height: 200px;

    font-size: 26px;
    line-height: 32px;
  }
}

@media only screen and (min-width: 768px) {
  .button {
    font-size: 30px;
    line-height: 36px;
  }
}


@media only screen and (min-width: 2560px) {
  .button {
    width: 600px;
    height: 300px;

    font-size: 40px;
    line-height: 56px;
  }
}

.button:hover {
  background: var(--bb-palette-text400);

  transition: 250ms ease;
}


.topButton {
  padding-top: 50px;
  border-radius: 50% 50% 0 0 / 100% 100% 0 0;
}

.bottomButton {
  margin-top: 1px;
  padding-bottom: 50px;

  border-radius: 0 0 50% 50% / 0 0 100% 100%;
}

.icon {
  display: block;
  margin: 15px 0;


  opacity: 0.7;
  transition: 750ms ease;
}


@media only screen and (min-width: 320px) {
  .icon {
    font-size: 26px;
  }
}

@media only screen and (min-width: 480px) {
  .icon {
    font-size: 36px;
  }
}

@media only screen and (min-width: 768px) {
  .icon {
    font-size: 40px;
  }
}


@media only screen and (min-width: 2560px) {
  .icon {
    font-size: 50px;
  }
}

.button:hover .icon {
  opacity: 1;
  transition: 750ms ease;
}